---
// src/components/ui/DocsPager.astro
import type { CollectionEntry } from "astro:content";
import Icon from "@ui/Icons.astro";

interface Props {
  prev?: CollectionEntry<"docs"> | null;
  next?: CollectionEntry<"docs"> | null;
  primaryRootId: string;
}

const { prev, next, primaryRootId } = Astro.props;

const getHref = (item: CollectionEntry<"docs">) => {
  const isRoot = item.id === primaryRootId;
  return isRoot ? "/docs" : `/docs/${item.data.slug || item.id}`;
};

const $ = {
  peginationWrapper: 'items-center justify-center shrink-0 pb-(--safe-bottom)',
  peginationGroup: 'grid grid-cols-1 gap-4 sm:grid-cols-2 items-center justify-center',
  
  peginationPrevGroup: 'shrink-0 items-center text-left justify-start',
  peginationNextGroup: 'shrink-0 items-center text-right justify-end',
  
  pegination: 'group flex flex-col gap-2 rounded-md border border-(--border-subtle)/40 p-4 no-underline bg-none hover:bg-(--bg-muted) active:bg-(--bg-muted)',
  
  peginationPrevHeader: 'flex items-center justify-start gap-1',
  peginationNextHeader: 'flex items-center justify-end gap-1',

  peginationLabel: 'text-label-13 font-semibold text-(--fg-strong)',
  peginationIcon: 'inline-flex shrink-0 items-center justify-center h-4 w-4 text-(--fg-strong)',
  peginationSubLabel: 'truncate text-sm font-medium text-(--fg-muted)'
}
---

{
  (prev || next) && (
    <nav aria-label="Docs pagination" class={$.peginationWrapper}>
      <div class={$.peginationGroup}>
        {prev ? (
          <div class={$.peginationPrevGroup}>
            <a href={getHref(prev)} class={$.pegination}>
              <span class={$.peginationPrevHeader}>
                <span class={$.peginationIcon}>
                  <Icon name="chevron-left" class="w-full h-full" />
                </span>
               <span class={$.peginationLabel}>{prev.data.title}</span>
              </span>
              <span class={$.peginationSubLabel}>
                {prev.data.description}
              </span>
            </a>
          </div>
        ) : (
          <div />
        )}
        {next ? (
          <div class={$.peginationNextGroup}>
            <a href={getHref(next)} class={$.pegination}>
              <span class={$.peginationNextHeader}>
                <span class={$.peginationLabel}>{next.data.title}</span>
                <span class={$.peginationIcon}>
                  <Icon name="chevron-right" class="w-full h-full" />
                </span>
              </span>
              <span class={$.peginationSubLabel}>
                {next.data.description}
              </span>
            </a>
          </div>
        ) : (
          <div />
        )}
      </div>
    </nav>
  )
}