---
import type { CollectionEntry } from "astro:content";
import DocsPager from "./DocsPager.astro";
import { formatDate } from "@lib/utils";

interface Props {
    prev: CollectionEntry<"docs"> | null;
    next: CollectionEntry<"docs"> | null;
    primaryRootId: string;
    lastUpdated?: Date;
}

const { prev, next, primaryRootId, lastUpdated } = Astro.props;
---
<div class="items-center w-full shrink-0 mt-8 py-4 mb-(--safe-bottom)">
    <p class="py-4 border-t border-(--border-subtle)/80">
        {lastUpdated && (
            <time datetime={lastUpdated.toISOString()} class="text-(--fg-muted)">
                <span>Updated: </span>
                {formatDate(lastUpdated)}
            </time>
        )}
    </p>
    <DocsPager primaryRootId={primaryRootId} prev={prev} next={next} />
</div>
