---
import type { CollectionEntry } from "astro:content";
import DocsPager from "./DocsPager.astro";
import { formatDate } from "@lib/utils";
import Feedback from "../Feedback.astro";

interface Props {
    prev: CollectionEntry<"docs"> | null;
    next: CollectionEntry<"docs"> | null;
    primaryRootId: string;
    lastUpdated?: Date;
}

const { prev, next, primaryRootId, lastUpdated } = Astro.props;
---
<div class="items-center w-full shrink-0 mt-8 py-4 mb-(--safe-bottom)">
    <Feedback />
    <p class="text-(--fg-muted)/80 py-4">
        {lastUpdated && (
            <time datetime={lastUpdated.toISOString()}>
                <span>Last Updated: </span>
                {formatDate(lastUpdated)}
            </time>
        )}
    </p>
    <DocsPager primaryRootId={primaryRootId} prev={prev} next={next} />
</div>