---
// src/components/docs/mobile/MobileHeader.astro
import Container from "./ui/Container.astro";
import Icon from "@ui/Icons.astro";
import Button from "@ui/Button.astro";
import Logo from "@ui/Logo.astro";
import Drawer from "@ui/Drawer.astro";

const label = "Buka Menu"
const $ = {
  header: "sticky top-0 z-50 w-full bg-transparent border-b border-(--border-subtle)/40 lg:border-transparent h-full pt-(--safe-top) transition-opacity duration-(--duration) ease-out md:hidden",
  wrapper: "mx-auto flex h-(--header-height) w-full items-center justify-between",
  left: "flex items-center shrink-0 gap-4",
  right: "flex items-center shrink-0 gap-0.5",
  iconSize: "h-5 w-5"
}
---

<header id="mobile-header" class={$.header}>
   <Container size="full">
    <div class={$.wrapper}>
      <div class={$.left}>
        <Logo />
      </div>
      <div class={$.right}>
        <Button 
          variant="icon" 
          size="md" 
          thisIcon
          data-drawer-trigger="mobile-nav-drawer" 
          aria-label={label}>
          <Icon name="menu" class={$.iconSize} />
        </Button>
      </div>
    </div>
   </Container>
</header>
<Drawer id="mobile-nav-drawer">
  <slot />
</Drawer>

<script is:inline>
  (() => {
    const header = document.getElementById("mobile-header");
    if (!header) return;

    const toggleHeader = () => {
      if (window.scrollY > 10) {
        header.classList.add(
          "bg-(--bg)/80",
          "backdrop-blur-md",
          "lg:border-(--border-subtle)/40",
          "shadow-sm"
        );
        header.classList.remove(
          "bg-transparent",
          "lg:border-transparent"
        );
      } else {
        header.classList.remove(
          "bg-(--bg)/80",
          "backdrop-blur-md",
          "lg:border-(--border-subtle)/40",
          "shadow-sm"
        );
        header.classList.add(
          "bg-transparent",
          "lg:border-transparent"
        );
      }
    };

    window.removeEventListener("scroll", toggleHeader);
    window.addEventListener("scroll", toggleHeader, { passive: true });
    
    toggleHeader();
  })();
</script>
