---
// src/components/mdx/Callout.astro
import Icon from "@/components/ui/icons/Icon.astro";

interface Props {
  type?:
    | "note"
    | "info"
    | "tip"
    | "warning"
    | "danger"
    | "important"
    | "caution";
}

const props = typeof Astro !== "undefined" && Astro.props ? Astro.props : {};
const { type = "note" } = props as Props;

const icons = {
  note: "note",
  info: "info",
  tip: "tip",
  warning: "warning",
  danger: "danger",
  important: "important",
  caution: "caution",
} as const;

const label = type.charAt(0).toUpperCase() + type.slice(1);

const s = {
  callout: 'flex my-8 border border-(--c-border) rounded-md bg-(--bg-subtle) text-(--c-text)',
  calloutHeader: 'flex flex-col shrink-0 items-center justify-start border-r border-(--c-border) text-(--c-icon) p-3',
  calloutIcon: 'inline-flex shrink-0 items-center justify-center w-4 h-4',
  calloutBody: 'flex-1 pl-2 pr-2 py-2 min-w-0',
  calloutContent: 'callout-content items-center text-(--c-text)'
}
---

<aside class={s.callout} data-callout={type} role="note" aria-label={label}>
  <div class={s.calloutHeader}>
    <span class={s.calloutIcon} aria-hidden="true">
      <Icon name={icons[type] as any} className="h-full w-full" />
    </span>
  </div>
  <div class={s.calloutBody}>
    <div class={s.calloutContent}>
      <slot />
    </div>
  </div>
</aside>

<style is:global>
  [data-callout="note"] {
    --c-bg: var(--callout-note-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-note-icon);
    --c-title: var(--callout-note-title);
  }

  [data-callout="info"] {
    --c-bg: var(--callout-info-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-info-icon);
    --c-title: var(--callout-info-title);
  }

  [data-callout="tip"] {
    --c-bg: var(--callout-tip-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-tip-icon);
    --c-title: var(--callout-tip-title);
  }

  [data-callout="warning"] {
    --c-bg: var(--callout-warning-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-warning-icon);
    --c-title: var(--callout-warning-title);
  }

  [data-callout="caution"] {
    --c-bg: var(--callout-caution-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-caution-icon);
    --c-title: var(--callout-caution-title);
  }

  [data-callout="important"] {
    --c-bg: var(--callout-important-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-important-icon);
    --c-title: var(--callout-important-title);
  }

  [data-callout="danger"] {
    --c-bg: var(--callout-danger-bg);
    --c-border: var(--border-subtle);
    --c-text: var(--fg);
    --c-icon: var(--callout-danger-icon);
    --c-title: var(--callout-danger-title);
  }
</style>