---
import Icon from "@ui/Icons.astro";

interface Props {
  title?: string;
  href: string;
  icon?: string;
  description?: string;
}

const { 
    title, 
    href, 
    icon = "learn", 
    description 
} = Astro.props;

const isExternal = href.startsWith('http');

const $ = {
  wrapper: [
    "link-card group relative flex items-center justify-between pr-3 py-2 my-6 md:my-8 rounded ring-1",
    "ring-(--border-subtle) bg-(--bg-subtle)",
    "hover:bg-(--bg-muted) active:bg-(--bg-muted)",
    "no-underline!"
  ].join(" "),
  cardItem: "flex items-center gap-3",
  cardLeft: "shrink-0 items-center justify-start border-r border-(--accent) p-3",
  prefix: "block shrink-0 items-center justify-center size-6 text-(--fg)",
  suffix: [
    "block shrink-0 items-center justify-center size-5",
    "text-(--fg-muted)",
    "group-hover:text-(--fg-strong) group-active:text-(--fg-strong)"
  ].join(" "),
  meta: "flex flex-col justify-start",
  label: "text-body-16 font-semibold text-(--fg-strong)",
  subLabel: "text-body-14 text-(--fg-muted) line-clamp-1",
}
---

<a 
  href={href} 
  target={isExternal ? "_blank" : "_self"}
  rel={isExternal ? "noopener noreferrer" : ""}
  class={$.wrapper}
>
  <div class={$.cardItem}>
    <div class={$.cardLeft}>
    {icon && (
     <Icon name={icon as any} class={$.prefix} />
    )}</div>
    <div class={$.meta}>
      <span class={$.label}>{title}</span>
      {description && (
        <span class={$.subLabel}>
          {description}
        </span>
      )}
    </div>
  </div>
  <Icon name={isExternal ? "external" : "arrow-right" as any} class={$.suffix} />
</a>
