---
// src/components/Tabs.astro
import Button from "@ui/Button.astro";

interface Props {
  label?: string;
}

const { label } = Astro.props;
const isContainer = !label;

const $ = {
  wrapper: "block my-6 md:my-8",
  header: "inline-flex bg-(--bg-subtle) border border-(--border-subtle)/80 rounded-md p-0.5 mb-2",
  headerItem: "tabs-header flex gap-1.5 overflow-x-auto scrollbar-none [&::-webkit-scrollbar]:hidden",
  content: "tabs-content",
  panel: "tab-panel hidden"
};
---

{
  isContainer ? (
    <mdx-tabs class={$.wrapper}>
      <div class={$.header}>
        <div role="tablist" class={$.headerItem}></div>
      </div>
      <div class={$.content}>
        <slot />
      </div>
    </mdx-tabs>
  ) : (
    <div data-label={label} role="tabpanel" class={$.panel}>
      <slot />
    </div>
  )
}

<template id="tab-button-template">
  <Button
    size="sm"
    variant="primary"
    role="tab"
    class="tab-button rounded-sm!"
  >
    <slot name="label"></slot>
  </Button>
</template>

<style is:global>
  @keyframes openFade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .animate-openFade {
    animation: openFade 0.15s ease-in-out forwards;
  }
  
  .tab-content * {
    margin: 0 !important;
  }
  
  .tab-content *:first-child {
    margin-top: 0 !important;
  }
  .tab-content *:last-child {
    margin-bottom: 0 !important;
  }

  .tab-button[data-active="true"] {
    color: var(--fg-strong);
    background: var(--bg-subtle) !important;
  }
</style>

<script>
  class MdxTabs extends HTMLElement {
    connectedCallback() {
      const header = this.querySelector('.tabs-header');
      const panels = Array.from(this.querySelectorAll('.tab-panel'));
      if (!header || panels.length === 0) return;

      const template = document.getElementById('tab-button-template');
      if (!template) return;

      header.innerHTML = '';
      
      panels.forEach((panel, index) => {
        const label = panel.getAttribute('data-label') || `Tab ${index + 1}`;
        const isActive = index === 0;
        const btn = template.content.firstElementChild.cloneNode(true);
        
        btn.textContent = label;
        btn.dataset.active = isActive ? 'true' : 'false';

        if (isActive) {
          panel.classList.remove('hidden');
          panel.classList.add('block', 'animate-openFade');
        } else {
          panel.classList.add('hidden');
        }

        btn.addEventListener('click', () => {

          Array.from(header.children).forEach(b => {
            b.dataset.active = 'false';
          });

          panels.forEach(p => {
            p.className = 'tab-panel hidden';
          });

          btn.dataset.active = 'true';
          panel.className = 'tab-panel block animate-openFade';
        });

        header.appendChild(btn);
      });
    }
  }

  if (!customElements.get('mdx-tabs')) {
    customElements.define('mdx-tabs', MdxTabs);
  }
</script>