---
import type { CollectionEntry } from "astro:content";

import { formatDate } from "@lib/utils";

import BlogPager from "./BlogPager.astro";
// import BlogTags from "./BlogTags.astro";
// import Share from "./Share.astro";

interface Props {
  prev: CollectionEntry<"blog"> | null;
  next: CollectionEntry<"blog"> | null;
  lastUpdated?: Date;
  tags?: string[];
}

const {
  prev,
  next,
  lastUpdated,
  tags = [],
} = Astro.props;
---

<footer class="w-full shrink-0 space-y-8 pt-4 pb-(--safe-bottom)">
  {lastUpdated && (
    <p class="text-body-14 text-(--fg-muted)/80">
      <time datetime={lastUpdated.toISOString()}>
        <span>Last updated: </span>
        {formatDate(lastUpdated)}
      </time>
    </p>
  )}

  {tags.length > 0 && (
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <a
          href={`/blog?tag=${encodeURIComponent(tag)}`}
          class="rounded-md border border-(--border-subtle) px-2.5 py-1 text-label-13 text-(--fg-muted) transition-colors hover:bg-(--bg-muted)"
        >
          #{tag}
        </a>
      ))}
    </div>
  )}

  <!-- <Share /> -->

  <BlogPager
    prev={prev}
    next={next}
  />
</footer>