---
import type { CollectionEntry } from "astro:content";

import { formatDate } from "@lib/utils";

import BlogPager from "./BlogPager.astro";
import Badge from "../ui/Badge.astro";

interface Props {
  prev: CollectionEntry<"blog"> | null;
  next: CollectionEntry<"blog"> | null;
  lastUpdated?: Date;
  tags?: string[];
}

const {
  prev,
  next,
  lastUpdated,
  tags = [],
} = Astro.props;

const $ = {
  wrapper: "items-center justify-center flex-1 shrink-0 mb-(--safe-bottom) pt-4 space-y-6",
  date: "text-body-14 text-(--fg-muted)",
  tags: "rounded-md! text-body-13 text-(--fg-muted)!"
}
---

<footer data-pagefind-ignore class={$.wrapper}>
  <p class={$.date}>
    {lastUpdated && (
      <time 
        data-page-meta="date" 
        data-pagefind-sort="date" 
        datetime={lastUpdated.toISOString()}
      >
        <span>Diperbarui: </span>
        {formatDate(lastUpdated)}
      </time>
    )}
  </p>
  {tags.length > 0 && (
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <Badge 
          data-pagefind-meta="tag" 
          data-pagefind-filter="tag"
          class={$.tags}>
          {tag}
        </Badge>
      ))}
    </div>
  )}
  <BlogPager
    prev={prev}
    next={next}
  />
</footer>