---
import type { CollectionEntry } from "astro:content";

import Icon from "@ui/Icons.astro";

interface Props {
  prev?: CollectionEntry<"blog"> | null;
  next?: CollectionEntry<"blog"> | null;
}

const { prev, next } = Astro.props;

const getHref = (item: CollectionEntry<"blog">) =>
  `/blog/${item.data.slug || item.id}`;

const $ = {
  wrapper: "items-center justify-center shrink-0 pb-(--safe-bottom)",
  grid: "grid grid-cols-1 gap-4 sm:grid-cols-2",
  pegination: "group flex flex-col gap-2 rounded-md border border-(--border-subtle)/40 p-4 transition-opacity hover:bg-(--bg-muted) active:bg-(--bg-muted) no-underline",
  prevWrap: "text-left",
  nextWrap: "text-right",
  headerPrev: "flex items-center justify-start gap-1",
  headerNext: "flex items-center justify-end gap-1",
  label: "text-label-13 font-semibold text-(--fg-strong)",
  icon: "size-4 text-(--fg-strong)",
  title: "truncate text-body-16 font-medium text-(--fg-strong)",
  description: "truncate text-body-14 text-(--fg-muted)",
};
---

{
  (prev || next) && (
    <nav data-pagefind-ignore aria-label="Blog pagination" class={$.wrapper}>
      <div class={$.grid}>
        {prev ? (
          <div class={$.prevWrap}>
            <a
              href={getHref(prev)}
              class={$.pegination}
            >
              <span class={$.headerPrev}>
                <Icon
                  name="chevron-left"
                  class={$.icon}
                />
                <span class={$.label}>
                  {prev.data.title}
                </span>
              </span>

              {prev.data.description && (
                <span class={$.description}>
                  {prev.data.description}
                </span>
              )}
            </a>
          </div>
        ) : (
          <div />
        )}

        {next ? (
          <div class={$.nextWrap}>
            <a
              href={getHref(next)}
              class={$.pegination}
            >
              <span class={$.headerNext}>
                <span class={$.label}>
                  {next.data.title}
                </span>

                <Icon
                  name="chevron-right"
                  class={$.icon}
                />
              </span>

              {next.data.description && (
                <span class={$.description}>
                  {next.data.description}
                </span>
              )}
            </a>
          </div>
        ) : (
          <div />
        )}
      </div>
    </nav>
  )
}