---
// src/layouts/DocsLayout.astro
import { 
  SITE, 
  type buildMeta as BuildMetaFn 
} from "@/consts";

import Head from "@/components/Head.astro";
import Page from "@components/Page.astro";
import Footer from "@/components/Footer.astro";
import DocsNavbar from "@docs/DocsNavbar.astro";
import MobileSidebar from "@components/MobileSidebar.astro";
import Sidebar from "@ui/Sidebar.astro"; 
import ThemeProvider from "@/components/ThemeProvider.astro";
import SkipLink from "@components/SkipLink.astro";
import Search from "@components/Search.astro";
import ScrollToTop from "@docs/mobile/ScrollToTop.astro";
import PageFrame from "@/components/PageFrame.astro";

interface Props {
  meta?: Partial<ReturnType<typeof BuildMetaFn>>;
  schema?: object | object[];
  isHome?: boolean;
  canonical?: string;
  hideHeader?: boolean;
  hideFooter?: boolean;
  sidebarProps: any;
}

const {
  meta,
  schema,
  isHome = false,
  canonical,
  hideHeader = false,
  hideFooter = false,
  sidebarProps,
} = Astro.props;
---

<!doctype html>
<html lang={SITE.lang} dir={SITE.dir}>
  <Head {meta} {schema} {isHome} {canonical}>
    <ThemeProvider />
  </Head>
  <body>
    <SkipLink />
    <Search />
    <Page>
      <MobileSidebar
        sidebarProps={sidebarProps} 
        hideHeader={hideHeader} 
        hideFooter={hideFooter} 
      />
      <PageFrame>
        <aside class="bg-(--bg) rounded-none border-r border-(--border-subtle)/80 hidden sticky top-0 lg:block h-[calc(100vh)] px-4 pt-4">
          <div class="flex h-full flex-col flex-1">
            {!hideHeader && <DocsNavbar />}
            <div class="flex-1 overflow-y-auto mb-0">
              {sidebarProps && <Sidebar {...sidebarProps} />}
            </div>
            {!hideFooter && <Footer />}
          </div>
        </aside>
        <main id="main-content" class="w-full min-w-0 flex-1">
          <slot />
        </main>
        <aside class="hidden sticky top-(--header-height) lg:block lg:h-[calc(100vh-54px)] overflow-y-auto px-2 pt-4 pb-(--safe-bottom) w-full">
          <slot name="right" />
        </aside>
      </PageFrame>
    </Page>
    <ScrollToTop />
  </body>
</html>