---
// src/layouts/NovelLayout.astro
import { SITE, type buildMeta as BuildMetaFn } from "@/consts";

import Head from "@/components/Head.astro";
import Container from "@ui/Container.astro";
import Footer from "@/components/Footer.astro";

import DocsNavbar from "@/components/docs/DocsNavbar.astro";
import Sidebar from "@ui/Sidebar.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import SkipLink from "@/components/SkipLink.astro";
import Search from "@/components/Search.astro";
import ScrollToTop from "@docs/mobile/ScrollToTop.astro";

import DocsMobileHeader from "@docs/mobile/DocsMobileNavbar.astro"; 

interface Props {
  meta?: Partial<ReturnType<typeof BuildMetaFn>>;
  schema?: object | object[];
  canonical?: string;
  sidebarProps: any;
}

const {
  meta,
  schema,
  canonical,
  sidebarProps,
} = Astro.props;
---

<!doctype html>
<html lang={SITE.lang} dir={SITE.dir}>
  <Head {meta} {schema} canonical={canonical}>
    <ThemeProvider />
  </Head>
  <body class="bg-(--bg) text-(--fg) antialiased">
    <SkipLink />
    <Search />
    <div class="min-h-screen flex-col">
      <DocsMobileHeader sidebarProps={sidebarProps} />
      <Container size="full" class="mx-auto grid min-h-screen w-full grid-cols-1 gap-0 px-0! lg:grid-cols-[16rem_minmax(0,1fr)] lg:gap-6">
        <aside class="hidden lg:sticky lg:top-0 lg:block lg:h-[calc(100vh)] lg:border-r lg:border-(--border-subtle) lg:bg-(--bg) lg:px-4 lg:pt-4">
          <div class="flex h-full flex-col flex-1">
            <DocsNavbar />
            <div class="flex-1 overflow-y-auto mb-0">
              {sidebarProps && <Sidebar {...sidebarProps} />}
            </div>
            <Footer />
          </div>
        </aside>
        <main id="main-content" class="w-full min-w-0 px-4 py-8 lg:px-8 lg:py-12 flex justify-center">
          <article class="w-full max-w-prose 2xl:max-w-3xl">
            <slot />
            
          </article>
        </main>
      </Container>
    </div>
    <ScrollToTop />
  </body>
</html>
