---
// src/layouts/NovelLayout.astro
import { SITE, type buildMeta as BuildMetaFn } from "@/consts";

import Head from "@/components/Head.astro";
import Container from "@ui/Container.astro";
import Footer from "@/components/Footer.astro";

import DocsNavbar from "@/components/docs/DocsNavbar.astro";
import Sidebar from "@ui/Sidebar.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import SkipLink from "@/components/SkipLink.astro";
import Search from "@/components/Search.astro";
import ScrollToTop from "@docs/mobile/ScrollToTop.astro";

import MobileSidebar from "@components/MobileSidebar.astro"; 

interface Props {
  meta?: Partial<ReturnType<typeof BuildMetaFn>>;
  schema?: object | object[];
  canonical?: string;
  sidebarProps: any;
}

const {
  meta,
  schema,
  canonical,
  sidebarProps,
} = Astro.props;
---

<!doctype html>
<html lang={SITE.lang} dir={SITE.dir}>
  <Head {meta} {schema} canonical={canonical}>
    <ThemeProvider />
  </Head>
  <body class="bg-(--bg) text-(--fg) antialiased">
    <SkipLink />
    <Search />
    <div class="min-h-screen flex-col">
      <MobileSidebar sidebarProps={sidebarProps} />
      <Container size="full" class="mx-auto grid min-h-screen w-full grid-cols-1 gap-6 px-0! lg:grid-cols-[16rem_minmax(0,1fr)_16rem]">
        <aside class="bg-(--surface) rounded-none lg:border-r border-(--border-subtle)/80 hidden lg:sticky lg:top-0 lg:block lg:h-[calc(100vh)] lg:px-4 lg:pt-4">
          <div class="flex h-full flex-col flex-1">
            <DocsNavbar />
            <div class="flex-1 overflow-y-auto mb-0">
              {sidebarProps && <Sidebar {...sidebarProps} />}
            </div>
            <Footer />
          </div>
        </aside>
        <main id="main-content" class="w-full min-w-0">
          <article>
            <slot />
          </article>
        </main>
        <aside class="hidden lg:sticky lg:top-(--header-height) lg:block lg:h-[calc(100vh-54px)] lg:overflow-y-auto lg:px-4 lg:py-4">
          <slot name="right" />
        </aside>
      </Container>
    </div>
    <ScrollToTop />
  </body>
</html>